<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Kaia Apparel </title>
    <link rel = "stylesheet" href = "/css/homepage.css">
    <link rel = "stylesheet" href = "/css/productCatalog.css">
    <script src = "js/homepage.js" defer> </script>
    <script src = "/js/productCatalog.js" defer> </script>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div class = "main-container"> 
        <div class = "path-container">
            <span> Home / <span class = "path-category" id = "path-category">Tops</span> Collection</span>
        </div>

        <div class = "category-header-container" id = "category-header-container">
            <% if( categories !== null ) { %> 
                <% categories.forEach((category) => { %>
                    <a class = "category-link" data-id = "<%=category.categoryID%>" data-name = "<%=category.categoryName%>"> 
                        <%= category.categoryName %> 
                    </a>
                <% }); %>
            <% } %>  
        </div>

        <div class = "category-header-title">
            <% if( categories !== null ) { %> 
                <span class = "category-title" id = "category-title"> <%=categories[0].categoryName%> <span>COLLECTION</span></span>
            <% } %>  

            <div class = "product-filter">
                <span> Sort by: </span>
                <select class = "product-filter" id = "product-filter"> 
                    <option value = "filter-all"> None </option>
                    <option value = "filter-name-asc"> Name (Asc) </option>
                    <option value = "filter-name-desc"> Name (Desc) </option>
                    <option value = "filter-price-asc"> Price (Asc) </option>
                    <option value = "filter-price-desc"> Price (Desc) </option>
                </select>
            </div>
        </div>

        <div class = "product-grid" id = "product-grid">
            <!-- 
                <div class = "product-item">
                    <a href="#">
                        <img src = "/images/kaia/iris_linen_top_1.jpg">
                    </a>
                    <div class = "product-details">
                        <div class = "product-details-inner">
                            <span class = "product-name"><a href="#" class="link-unstyled">MAYA TOP</a></span>
                            <span class = "product-price">PHP <span>150</span></span>
                        </div>
                    </div>
                </div>
            -->
        </div>
    </div>

    <script>
        const categories = `<%- JSON.stringify(categories) %>`;
        const products = `<%- JSON.stringify(products) %>`;
        /*
            let selectedCategoryID;

            if( categories && categories.length > 0 ) { 
                selectedCategoryID = '<%= categories[0].categoryID %>';
            } 
        */
    </script>
</body>
</html>