<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Kaia Apparel </title>
    <meta name = "viewport" content= "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/admin/editProduct.css">
    <link rel = "stylesheet" href = "/css/main/font.css">
    <script src = "js/admin/editProduct.js" defer> </script>
</head>
<body>
    <%- include("../main/admin-header.ejs") %>
    <div class = "main-container"> 
        <div class = "hide" id = "feedback-text"> </div>
        <div class = "header-container" id = "update-header">
            <span class = "title"> UPDATE PRODUCT </span>
            <% /*
            <div class = "header-button-container">
                <div class = "delete-button" id = "delete-button"> DELETE </div>
            </div>
            */ %>
        </div>
        <form id = "update-product"> 
            <div class = "update-form">
                <div class = "left-section">
                    <div class = "input-container">
                        <span class = "label"> CATEGORY </span>
                        <select class = "input-box category" id = "category-dropdown">
                            <% if( categories !== null ) { %> 
                                <% categories.forEach((category) => { %>
                                    <option id = "category"
                                        value = "<%= category.categoryName %>"
                                        data-id = "<%= category.categoryID %>"
                                        data-name = "<%= category.categoryName %>"
                                    > 
                                        <%= category.categoryName %> 
                                    </option>
                                <% }); %>
                            <% } %>           
                        </select>
                    </div>
                    <div class = "input-container">
                        <span class = "label"> NAME </span>
                        <div class = "input-box">
                            <input type = "text" class="form-style-1" id = "name">
                        </div>
                    </div>
                    <div class = "input-container">
                        <span class = "label"> PRICE </span>
                        <div class = "input-box">
                            <input type = "number" class="form-style-1" id = "price" step = "0.01" min = "0"/>
                        </div>
                    </div>
                    <div class = "input-container">
                        <span class = "label"> DESCRIPTION </span>
                    </div>
                    <textarea class = "input-textarea" id = "description" rows = "4"> </textarea>
                    <div class = "input-container">
                        <span class = "label"> IMAGES </span>
                        <div class = "upload-button">
                            <input type = "file" name = "product" id = "upload-image" hidden/>
                            <label for = "upload-image" class = "upload-label"> Image Upload </label>
                        </div>
                    </div>
                    <div id = "images-wrapper">
                        <% /*
                            <div class = "image-container">
                                <div class = "item-image">
                                    <div class = "item-icon-col">
                                        <img class = "item-icon" src = "/upload/temporary/2023-11-05-032948-Sophia.png"> <!-- IMAGE ICON -->
                                    </div>
                                    <div class="item-name">lane_top_1.jpg</div> <!-- IMAGE FILENAME -->
                                    <div class="remove-container">
                                        <button type = "button" class = "remove-button" data-popup = "remove"> 
                                            -
                                        </button>
                                    </div>
                                </div>
                            </div>
                        */ %>
                    </div>
                </div>
                <div class = "right-section">
                    <div class = "input-container">
                        <span class = "label"> VARIATIONS </span>
                    </div>
                    <div class = "variation-form">
                        <div class="var-right-section">
                            <div class = "input-container">
                                <span class = "label"> NAME </span>
                                <div class = "input-box">
                                    <input type = "text" class = "form-style-2" id = "variation-name">
                                </div>
                            </div>
                            <div class = "input-container">
                                <span class = "label"> STOCK </span>
                                <div class = "input-box">
                                    <input type = "number" class = "form-style-2" id = "variation-stock" step = "1" min = "0"/>
                                </div>
                            </div>
                        </div>
                        <div class = "var-left-section">
                            <div class = "input-container">
                                <span class = "label"> COLOR </span>
                                <div class = "input-box">
                                <input type = "color" class = "color-picker" id = "color-picker" name = "color-picker" value = "#FFFFFF">
                                </div>
                            </div>
                            <div class = "add-container">
                                <button type = "button" class = "add-button" id = "add-variation" data-popup = "add-variation"> + </button>
                            </div>
                        </div>
                    </div>
                    <div id = "variations-wrapper">
                        <% /*
                            <div class = "variation-container">
                                <div class = "variation-label" value = ${variation-name}> ${variation-name} </div> 
                                <div class = "input-box">
                                    <div class = "color-value"/>  
                                </div>
                                <div class = "variation-label"> STOCK </div>
                                <div class = "input-box">
                                    <input type = "number" class = "stock-value" step = "1" min = "0" value = "30" readonly/> 
                                </div>
                                <div class = "remove-container">
                                    <button type = "button" class = "remove-button" data-popup = "remove-variation"> 
                                        -
                                    </button>
                                </div>
                            </div>
                        */ %>
                    </div>
                </div>
            </div>
            <div class = "button-container"> 
                <div class = "update-container">
                    <button type = "submit" class = "update-button" id = "update-button"> UPDATE </button>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    const categories = `<%- JSON.stringify(categories) %>`;
    const product = `<%- JSON.stringify(product) %>`;
    const productID = `<%- JSON.stringify(productID) %>`;
    const images = `<%- JSON.stringify(productImages) %>`;
    const variations = `<%- JSON.stringify(variations) %>`;
    console.log(product);
    console.log(images);
    console.log(variations);
</script>
</html>