<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Kaia Apparel </title>
    <link rel = "stylesheet" href = "/css/admin/inventory.css">
    <script src = "js/admin/inventory.js" defer> </script>
</head>
<body>
    <%- include("../partials/admin-header.ejs") %>

    <div class = main-container> 
        <div class = "header-container">
            <span class = "title"> INVENTORY MANAGEMENT </span>
            <a class = "register-button" href = "/registerProduct"> REGISTER+ </a>
        </div>
        <div class = "header-container">
            <div class = "filter-container category">
                <span class = "label"> CATEGORY </span>
                <select class = "filter dropdown" id = "category-dropdown">
                    <option data-name = "all"> All </option>
                    <% if( categories !== null ) { %> 
                        <% categories.forEach((category) => { %>
                            <option 
                                value = "<%= category.categoryName %>"
                                data-id = "<%= category.categoryID %>"
                                data-name = "<%= category.categoryName %>"> 
                                <%= category.categoryName %> 
                            </option>
                        <% }); %>
                    <% } %>           
                </select>
            </div>
            <div class = "filter-container searchbar"> 
                <input type = "text" class = "filter search-bar" id = "search-bar" placeholder = "Search products by name">
            </div>
        </div>
        <div id = "product-containers">
            <!--
            <% if( products !== null ) { %> 
                <% products.forEach((product) => { %>
                    <div class = "product-container"> 
                        <div class = "product-item">
                            <span>[#<%=product.productID %>]</span>
                            <span>Name: <%= product.productName %> | </span>
                            <span>Price: $<%= product.price %> | </span>
                            <span>Stock: <%= product.stockQuantity %> | </span>
                        </div>
                    </div>
                <% }); %>
            <% } %>           
        </div>
        -->
    </div>
    <script>
        const categories = `<%- JSON.stringify(categories) %>`;
        const products = `<%- JSON.stringify(products) %>`;
    </script>
</body>
</html>