<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Kaia Apparel </title>
    <link rel = "stylesheet" href = "/css/admin/viewProductAdmin.css">
    <script src = "js/admin/viewProductAdmin.js" defer> </script>
</head>
<body>
    <%- include("../partials/admin-header.ejs") %>

    <div class = "main-container"> 
        <div class = "header-container" id = "view-header">
            <span class = "title"> PRODUCT NAME </span>
            <span class="modify">
                <button type = "button" class = "header" data-popup = "update"> 
                <span class = "icon update"> </span>
                </button>
                <button type = "button" class = "header" data-popup = "delete"> 
                <span class = "icon delete"> </span>
                </button>
            </span>
        </div>
        <form id = "view-product"> 
            <div class="view-form">
                <div class = "left-section">
                    <div class = "input-container">
                        <span class = "label"> CATEGORY </span>
                        <select class = "input-box category" id = "category-dropdown" disabled>
                            <% if( categories !== null ) { %> 
                                <% categories.forEach((category) => { %>
                                    <option id = "category"
                                        value = "<%= category.categoryName %>"
                                        data-id = "<%= category.categoryID %>"
                                        data-name = "<%= category.categoryName %>"
                                    > 
                                        <%= category.categoryName %> 
                                    </option>
                                <% }); %>
                            <% } %>           
                        </select>
                    </div>
                    <div class = "input-container">
                        <span class = "label"> NAME </span>
                        <div class = "input-box">
                            <input type = "text" class="form-style-1" id = "name" readonly>
                        </div>
                    </div>
                    <div class = "input-container">
                        <span class = "label"> PRICE </span>
                        <div class = "input-box">
                            <input type = "number" class="form-style-1" id = "price" step = "0.01" min = "0" readonly/>
                        </div>
                    </div>
                    <div class = "input-container">
                        <span class = "label"> DESCRIPTION </span>
                    </div>
                    <textarea class = "input-textarea" id = "description" rows = "4" readonly> </textarea>
                    <div class = "input-container">
                        <span class = "label"> IMAGES </span>
                    </div>
                    <!-- <div class = "image-body">
                        <div class = "image" id = "product-image"> </div>
                    </div> -->
                    <!-- STATIC IMAGE CONTAINER -->
                    <div class="image-container">
                        <div class="item-image">
                            <div class="item-icon-col">
                                <img src="/images/kaia/lane_top_1.jpg" class="item-icon"> <!-- IMAGE ICON -->
                            </div>
                            <div class="item-name">lane_top_1.jpg</div> <!-- IMAGE FILENAME -->
                        </div>
                    </div>
                </div>
        
                <div class = "right-section">
                    <div class = "input-container">
                        <span class = "label"> VARIATIONS </span>
                    </div>
                    <!-- STATIC VARIATION CONTAINER -->
                    <div class="variation-container">
                        <div class = "label"> CREAM </div> <!-- VARIATION NAME-->
                        <div class = "input-box">
                        <div class="color-value"> </div> <!-- VARIATION COLOR - color set by changing background-color in css -->
                        </div>
                        <div class = "label"> STOCK </div>
                        <div class = "input-box">
                            <input type = "number" class = "stock-value" step = "1" min = "0" value="30" readonly/> <!-- VARIATION STOCK color setting "value" in js -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
</body>
<script>
    const categories = `<%- JSON.stringify(categories) %>`;
</script>
</html>