<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Kaia Apparel </title>
    <link rel = "stylesheet" href = "/css/users/viewProduct.css">
    <link rel = "stylesheet" href = "/css/main/font.css">
    <script src = "js/users/viewProduct.js" defer> </script>
</head>
<body>
    <%- include("../main/header.ejs") %>

    <div class = "main-container">
        <div class = "header-container">
            <div class = "path-container">
                <span> <a href = "homepage" id = "home"> Home</a> / 
                    <span class = "path-category" id = "path-category"> </span> 
                    <a> Collection </a>
                </span>
            </div>
        </div>
        <div class = "product-details-container"> 
            <div class = "left-section">
                <div class = "image-body">
                    <span class = "arrows"> < </span>
                    <div class = "image"> </div>
                    <span class = "arrows"> > </span>
                </div>
            </div>
            <div class = "right-section">
                <div class = "product-header">
                    <span class = "product-title"> <%= product.productName %> </span>
                    <button type = "button" class = "wishlist" id = "wishlist-button"> 
                        <span class = "icon wishlist-button"> </span>
                    </button>
                </div>
                <div class = "product-body"> 
                    <span class = "price"> Php <%= product.price %> </span> 
                    <br> <br>
                    <span class = "label"> DESCRIPTION </span> <br>
                    <span> <%= product.productDescription %> </span>
                    <br> <br>  
                    <span class = "label"> QUANTITY </span> <br>
                    <div class = "quantity-button">
                        <div class = "box gray"> 
                            <span> < </span>
                        </div>
                        <div class = "box"> 
                            <span class = "quantity"> 1 </span>
                        </div>
                        <div class = "box gray"> 
                            <span> > </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class = "add-container">
                    <button type = "submit" class = "add-button"> ADD TO CART </a>
                </div>
            </div>
        </div>
        <%- include("../main/footer.ejs") %>
    </div>
</body>
<script>
    const product = `<%- JSON.stringify(product) %>`;
    const productID = `<%- JSON.stringify(productID) %>`;
</script>
</html>