<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Kaia Apparel </title>
    <link rel = "stylesheet" href = "/css/admin/editProduct.css">
    <script src = "js/users/viewProduct.js" defer> </script>
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <div class = "main-container"> 
        <div class = "header-container">
            <span class = "title"> <%= product.productName %> </span>
        </div>
        <form id = "register-product"> 
            <div class = "left-section">

                <div class = "input-container">
                    <span class = "label"> CATEGORY </span>
                    <div class = "input-box">
                        <% categories.forEach(category => { %>
                            <% if (category.categoryID === product.categoryID) { %>
                                <input type = "text" id = "category" value = <%= category.categoryName %> > 
                            <% } %>
                        <% }); %>
                    </div>
                </div>
                <div class = "input-container">
                    <span class = "label"> PRICE </span>
                    <div class = "input-box">
                        <input type = "number" id = "price" value = "<%= product.price %>" step = "0.01" min = "0" disabled/>
                    </div>
                </div>
                <div class = "input-container">
                    <span class = "label"> STOCK </span>
                    <div class = "input-box">
                        <input type = "number" id = "stock" value = "<%= product.stockQuantity %>" step = "1" min = "0" disabled/>
                    </div>
                </div>
                <div class = "input-container">
                    <span class = "label"> DESCRIPTION </span>
                </div>
                <textarea class = "input-textarea" id = "description" rows = "4" disabled> <%= product.productDescription %> </textarea>
            </div>
            <div class = "right-section">
                <div class = "input-container">
                    <span class = "label"> VARIATIONS </span>
                </div>
                <div class = "temporary"> </div> <br>
            </div>
        </form>
</body>
<script>
    const categories = `<%- JSON.stringify(categories) %>`;
    const product = `<%- JSON.stringify(product) %>`;
</script>
</html>